#root{
  width: 100%;
  background-color: #E9E9E9;
}

.page{
  width: 70%;
  margin: 0 auto;
  padding-top: 1.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: "AnandaBlack";
  src: url("./assets/AnandaBlackPersonalUseRegular-rg9Rx.ttf") format("truetype");
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  .header-box{
    width: 100%;
    font-family: AnandaBlack;
    .blog-title{
      text-align: center;
      margin: 0;
    }
  }

  .links-box{
    width: 100%;
    .links{
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0.5rem 0;
      display: flex;
      justify-content: center;

      .link{
        margin: 0px 40px;
      }
    }

  }
}

.dropdown-menu{
 inset: 6px auto auto -40px !important;
 border-radius: 0;
}